@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Will's online library</h1>
        <div class="text-left">
            <pre>
                <font size="3" color="black">
                    During the COVID-19 pandemic, people are quarantine by staying home
                    but this will not stop us from learning new things.

                    You can find plently of books on this website, and we provide
                    <font size="6" color="red">
                        free readings!
                    </font>

                        You can like the book so make more people notice the book.
                </font>
            </pre>
        </div>
            <img src="https://cdn.ymaws.com/cilip.site-ym.com/resource/resmgr/cilip/information_professional_and_news/press_releases/2020_04_mcleish_blog_post/mcleish_banner.png" alt="library">

            <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
        </div>
